:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: 1px solid gray;
  margin: 0;
  padding: 0;
}

.error {
  border: 1px solid red;
}
